<a href="https://colab.research.google.com/github/grrr127/13_git/blob/main/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [ ]:
def greet_user(name, age):

    print(f'안녕하세요,{name}님! 당신은 {age}살입니다.')
    return

name = input('이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')

greet_user(name, age)

이름을 입력해주세요 : 두부
나이를 입력해주세요 : 10
안녕하세요,두부님! 당신은 10살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [ ]:
def sum_numbers(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_numbers(1, 2, 3, 4, 5))
print(sum_numbers(9, 8, 7))
print(sum_numbers(11, 22, 33, 44, 55, 66, 77, 88, 99))

15
24
495

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [2]:
def print_name(name='익명'):
    print('사용자 이름은 : ', name)

print_name()

사용자 이름은 :  익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [3]:
def print_info(name, age, gender):
    print(f'이름 : {name}, 나이 : {age}, 성별 : {gender}')

print_info(name = '방두부', age = '10', gender = '남자')

이름 : 방두부, 나이 : 10, 성별 : 남자

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [7]:
def add(x: int, y: int) -> int:
    result = x + y
    return result

print(add(7,8))

15

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [13]:
def odd_numbers(n):
    for numbers in range(n + 1):
        if numbers % 2 != 0 :
            yield numbers


print(list(odd_numbers(10)))

[1, 3, 5, 7, 9]

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [15]:
add = lambda x, y : x + y

print(add(3,6))

9

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [23]:
num_tuple = tuple(map(int,input("3개의 숫자를 입력하세요(쉼표로 구분) : ").split(',')))

def min_max(numbers):
    print("최소값 :", min(numbers))
    print("최대값 :", max(numbers))

min_max(num_tuple)

3개의 숫자를 입력하세요(쉼표로 구분) : 9,2,8
최소값 : 2
최대값 : 9

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [26]:
def is_even(num):
    if num % 2 == 0 :
        return True
    return False

is_even(33)

False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [28]:
def factorial(n):
    if n == 0 :
        return 1
    else :
        return n * factorial(n-1)

n = int(input("값을 입력해주세요."))

print(factorial(n))

값을 입력해주세요.5
120

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [30]:
def print_lengths(strings):
    for s in strings:
        print(f'문자열의 길이 :{len(s)}')

words = ["코끼리", "나무늘보", "기린"]
print_lengths(words)

문자열의 길이 :3
문자열의 길이 :4
문자열의 길이 :2

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [38]:
def longer_string():
    s1 = input('첫번째 문자열을 입력해주세요')
    s2 = input('두번째 문자열을 입력해주세요')
    if len(s1) < len(s2):
        print(f'더 긴 문자열 : {s2}')
    else :
        print(f'더 긴 문자열 : {s1}')
    return

longer_string()

첫번째 문자열을 입력해주세요오늘은
두번째 문자열을 입력해주세요비가와요
더 긴 문자열 : 비가와요